QMainWindow {
    background-color: #505050;
}

QTextEdit {
    font-family: Arial;
    font-size: 14px;
    color: #b8b8b8;
    background-color: #404040;
    border: 4px solid #dddddd;
}

QPushButton {
    background-color: #505050;
    border: 2px solid #dddddd;
    color: #b8b8b8;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

